.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xml.state
tests/testthat/created.txt
tests/testthat/expected.txt
tests/testthat/test.fasta
tests/testthat/output.xml
tests/testthat/tmp_*
output.xml
example_bd.xml
example_bd_fixed.xml
tmp_*
vignettes/*.fas
vignettes/my_beast.xml
my_beast.xml
