.Rproj.user
.Rhistory
.RData
.Ruserdata
*.xml.state
tests/testthat/created.txt
tests/testthat/expected.txt
tests/testthat/test.fasta
tests/testthat/output.xml
tests/testthat/tmp_*
output.xml
example_bd.xml
example_bd_fixed.xml
tmp_*
vignettes/*.fas
vignettes/my_beast.xml
my_beast.xml
beast.xml
inst/doc
create_alpha_param.xml
create_bd_tree_prior_exp.xml
create_bd_tree_prior.xml
create_beta_distr.xml
create_beta_param.xml
create_cbs_tree_prior.xml
create_ccp_tree_prior.xml
create_cep_tree_prior.xml
create_clock_model_rln.xml
create_clock_model_strict.xml
create_clock_rate_param.xml
create_distr.xml
create_gamma_distr.xml
create_gamma_site_model.xml
create_gtr_site_model.xml
create_jc69_site_models.xml
create_lambda_param.xml
create_laplace_distr.xml
create_mean_param.xml
create_m_param.xml
create_mu_param.xml
create_poisson_distr.xml
create_rln_clock_model_exp.xml
create_rln_clock_model.xml
create_scale_param.xml
create_sigma_param.xml
create_s_param.xml
create_strict_clock_model_gamma.xml
create_strict_clock_models.xml
create_strict_clock_model.xml
create_tree_prior_bd.xml
create_tree_prior_cbs.xml
create_tree_prior_ccp.xml
create_tree_prior_cep.xml
create_tree_prior_yule.xml
create_uniform_distr.xml
create_yule_tree_priors.xml
create_yule_tree_prior.xml
example_gtr.xml
example_hky.xml
example_jc69.xml
example_tn93.xml
fastas_to_phylos.xml
fasta_to_phylo.xml
test.txt
vignettes/*.xml
*.xml
beautier_*.tar.gz
beautier.Rcheck/
beautier.Rcheck/
